@import "./lib/optionsDisp.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

@media screen and (max-width: 780px) {
  .container {
    width: 90vw !important;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(11, 21, 66);
  min-height: 100vh;
  background-color: #232332;
  font-family: sans-serif;
  color: #efefef;
}

.text-editor {
  margin: 5rem 2rem;
  position: relative;
  display: grid;
  gap: 2px 5px;
}
.text-editor .title {
  font-size: 11pt;
  position: relative;
  translate: -0.5rem -3.5rem;
  text-align: start;
  margin-bottom: 2rem;
}
.text-editor .content {
  margin: .5px 0;
  padding: .5px 1px;
  position: relative;
}
.content .text-line {
  width: 90vw;
  padding: 2px;
  text-indent: 25px;
  line-height: 20px;
  letter-spacing: .2pt;
  word-wrap: break-word;
  outline: none;
}
.content .text-line:hover {
  background-color: #56567822;
  transition: 0.05s linear;
}
.content .div-options {
  top: 0;
  left: 0;
  position: absolute;
  visibility: hidden;
  display: grid;
  gap: 0.75px;
  border: none;
  background-color: transparent;
  translate: -25px;
  z-index: 99;
}
.div-options .btn-open-options {
  width: 20px;
  height: 20px;
  position: relative;
  visibility: hidden;
  border: none;
  background-color: transparent;
  font-size: 12pt;
  color: #efefef55;
  visibility: hidden;
  cursor: pointer;
  z-index: 100;
}

.div-options .div-options-disp {
  display: grid;
  gap: 10px;
  border-radius: 5px;
  background-color: #343440;
  color: #a5a5b8;
  padding: 10px 5px;
  overflow: hidden;
  text-align: start;
  font-size: 11pt !important;
  text-transform: lowercase;
  overflow-y: visible;
  z-index: 99;
}
.div-options .div-options-disp:hover {
  visibility: visible;
}
select {
  border: none;
  outline: none;
  background-color: #343451;
  color: #a5a5b8;
  text-transform: capitalize;
  align-items: center;
  width: 100%;
  height: 25px;
  padding: 5px 2.5px;
  appearance: none;
}
select option {
  align-items: center;
}
.btn-option {
  display: flex;
  gap: 5px;
  z-index: 999;
}
.text-line:focus-visible ~ .div-options .btn-open-options,
.div-options:hover ~ .btn-open-options,
.content:hover ~ .btn-open-options,
.div-options .btn-open-options:active,
.div-options .btn-open-options:focus,
.div-options .btn-open-options:focus-visible,
.div-options .btn-open-options:hover ~ .div-options-disp,
.div-options .btn-open-options:active ~ .div-options-disp,
.div-options .btn-open-options:focus ~ .div-options-disp,
.btn-open-options:focus-visible ~ .div-options-disp,
.div-options-disp:hover {
  visibility: visible;
}

.titleOption {
  color: #a5a5b8;
  margin: 10px auto;
  text-align: center;
}
.inputColor {
  margin: auto;
  height: 15px;
  width: 25px;
  text-align: center;
}
